# Build output
bin/
obj/
publish/
export/
publish-standalone/
TrayApp/bin/
TrayApp/obj/

# other directory
FastReport.Net Demo/

# Plugins output (build locally)
TrayApp/plugins/*.dll
TrayApp/plugins/*.pdb
TrayApp/plugins/*.deps.json

# NuGet
*.nupkg
packages/

# User files
*.user
*.suo
*.userosscache
*.tar.gz

# VS
.vs/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log